steps: &steps
  steps:
    - ansible/show-os-version
    - ansible/retrieve-playbook:
        reponame: ansible_joke-programs_cowsay
    - ansible/ansible-lint:
        reponame: ansible_joke-programs_cowsay
    - ansible/ansible-playbook:
        reponame: ansible_joke-programs_cowsay
    - run:
        name: Execute cowsay
        command: |
          export TERM=xterm
          cowsay "hello world!"

version: 2.1

orbs:
  ansible: orbss/ansible@0.1.7

jobs:
  centos7-ansible-yum:
    executor:
      name: ansible/centos7-ansible-yum
    <<: *steps
  centos7-ansible-stable:
    executor:
      name: ansible/centos7-ansible-stable
    <<: *steps
  centos7-ansible-devel:
    executor:
      name: ansible/centos7-ansible-devel
    <<: *steps
  ubuntu18-ansible-apt:
    executor:
      name: ansible/ubuntu18-ansible-apt
    <<: *steps
  ubuntu18-ansible-devel:
    executor:
      name: ansible/ubuntu18-ansible-apt
    <<: *steps

workflows:
  version: 2
  excute-playbook:
    jobs:
      - centos7-ansible-yum:
          filters:
            branches:
              only: topic
      - centos7-ansible-stable:
          filters:
            branches:
              only: topic
      - centos7-ansible-devel:
          filters:
            branches:
              only: topic
      - ubuntu18-ansible-apt:
          filters:
            branches:
              only: topic
      - ubuntu18-ansible-devel:
          filters:
            branches:
              only: topic
